@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&family=Balsamiq+Sans:wght@400;700&display=swap');

$light-red: #FF7674;
$pink: #FF74B7;
$ultra-pink: #FF74FC;
$fawn: #FFBC74;
$gray: rgb(192, 192, 192);
$balasamiq-sans: 'Balsamiq Sans', cursive;
$baloo-thambi-2:'Baloo Thambi 2', cursive;
